.coinPage__section{
    border: 1px solid gray;
    border-radius: 2em;
    margin: 1.5em 1em 1em;
    padding: 1em;
}
.coinPage__firstSection{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
}

@media(max-width: 1230px){
  .coinPage__rowData {
    font-size: 15px;
  }
  .coinPage__rowHeader{
    font-size: 18px;
  }
}
@media(max-width: 1190px){
  .coinPage__row {
    width: 100%;
  }
}
@media(max-width: 970px){
  .coinInfo__container{
    width: 40%;
  }
  .coinPage__row {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
  }
  h1{
    font-size: 30px;
  }
  .coinPage__rowData {
    font-size: 16px;
    margin-top: 0.3em;
    text-align: center;
  }
  .coinPage__rowHeader{
    font-size: 18px;
    margin-top: 0.3em;
    text-align: center;
  }
  .coinPage__button {
    width: 200px;
  }
}
@media(max-width: 640px){
  .coinInfo__container{
    width: 50%;
  }
  .coinPage__row {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
  }
  h1{
    font-size: 30px;
  }
  .coinPage__rowData {
    font-size: 16px;
    margin-top: 0.3em;
    text-align: center;
  }
  .coinPage__rowHeader{
    font-size: 18px;
    margin-top: 0.3em;
    text-align: center;
  }
  .coinPage__button {
    width: 150px;
  }
}
@media(max-width: 400px){
.coinInfo__container{
    width: 50%;
  }
  .coinPage__row {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
  }
  h1{
    font-size: 28px;
  }
  .coinPage__rowData {
    font-size: 14px;
    margin-top: 0.3em;
    text-align: center;
  }
  .coinPage__rowHeader{
    font-size: 16px;
    margin-top: 0.3em;
    text-align: center;
  }
  .coinPage__button {
    width: 150px;
  }
}
