table {
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
  width: 100%;
}
td,
th {
  border: 1px solid #535353;
  padding: 10px 20px;
}
.priceChangePerRed{
  color: var(--orange);
}
.priceChangePerGreen{
  color: var(--blue);
}

@media(max-width: 520px){
    td,
    th {
        border: 1px solid #535353;
        padding: 0.4rem 0.2rem;
    }
}