.sparklineTitle{
    align-items:start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.7rem;
}

.sparklineTitle h4{
    font-size: 15px;
}

.sparklineTitle p{
    color: var(--light-gray);
    font-size: 13px;
}

.sparkline svg{
    height:250px;
    stroke: white;
    width: 100%;
}