.coinPageBtn__section{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    width: 100%;
}
.backBtn{
    color: var(--white);
    font-weight: 600;
    text-decoration: none;
}
.backBtn:hover{
    color: #c6c6c6;
    transition: 300ms;
}
.arrowRightIcon{
    margin: 0 0.5rem;
}
.currencyBtn{
    background-color: var(--gray);
    border: none;
    border-radius: 3rem;
    color: var(--white);
    height: 100%;
    outline: none;
    padding: 0.5rem;
}
.arrowBtn{
    margin-left: 0.4rem;
}

@media(max-width: 385px){
    .currencyBtn{
        font-size: 12px;
    }
}