.titlesSection{
    background: linear-gradient(25deg in hsl shorter hue, var(--black) 75%, var(--blue), var(--orange));
}
.titlSection{
    padding-left: 3%;
    padding-top: 3%;
    width: 100%;
}
.title{
    font-size: 16px;
}
.titlSecSection{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3%;
}
.secondTitle{
    font-size: 36px;
    margin-bottom: 0.5em;
    text-align: center;
    width:100%;
}
.subTitle{
    color: var(--gray);
    padding: 0 16em;
    text-align: center;
}

@media (max-width: 1300px){
    .subTitle{
    padding: 0 4em;
}
}

@media (max-width: 891.98px) {
    .title{
        font-size: 14px;
    }
    .secondTitle{
        font-size: 30px;
    }
    .subTitle{
        font-size: 14px;
    }
}

@media (max-width: 700px){
    .titlSecSection{
        padding: 1.5em 6em 0;
    }
    .subTitle{
        padding:0;
    }
}
