.coin__section{
    align-items: center;
    border: 1px solid gray;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 8rem 1rem;
    padding: 1rem 2.5rem;
    width: 900px;
    z-index: 9;
}
.coin{
    display: grid;
    grid-template-columns: 5% 50% 15% 20% 10%;
    width: 100%;
}
.firstSection{
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
}
.twoSection{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.secondSection{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: left;
    width: 100%;
}
.coinImg__section{
    margin-right: 0.8rem;
}
.coinImg{
    height: 40px;
    width: 40px;
}
.coinTitle{
    align-items: center;
    column-gap: 0.5rem;
    display: flex;
    flex-direction: row;
}
.coinSymbol{
    text-transform:uppercase;
}
.coinName{
    color: gray;
}
.thirdSection, .fourthSection{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    text-align: right;
}
.green{
    background-color: #5353e450;
    border-radius: 0.5rem;
    color: var(--blue);
    margin-left: 5rem;
    padding: 0.3rem;
    text-align: center;
}
.red{
    background-color: #df865386;
    border-radius: 0.5rem;
    color: var(--orange);
    margin-left: 5rem;
    padding: 0.3rem;
    text-align: center;
}
.fourthSection{
    align-items: right;
    display: flex;
    justify-content: center;
}
.fifthSection{
    align-items: center;
    display: flex;
    justify-content: right;
    margin-right: 1.8rem;
}
.fifthSection svg{
    width: 120px;
    height: 45px;
}
.coinBtn__section{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-decoration: none;
}
.coinBtn{
    border: none;
    border-radius: 1rem;
    color: #fff;
    background: #111;
    cursor: pointer;
    height: 46px;
    outline: none;
    position: relative;
    width: 100%;
    z-index: 0;
}
.coinBtn:before{
    -webkit-animation: glowing 20s linear infinite;
    animation: glowing 20s linear infinite;
    background: linear-gradient(45deg, #5353e4,#2176de,#df8653,#b95b8d, #6161d1);
    background-size: 400%;
    border-radius: 10px;
    content: '';
    filter: blur(5px);
    height: calc(100% + 4px);
    left: -2px;
    opacity: 0;
    position: absolute;
    top: -2px;
    transition: opacity .3s ease-in-out;
    width: calc(100% + 4px);
    z-index: -1;
}
.coinBtn:active {
    color: #000
}
.coinBtn:active:after {
    background: transparent;
}
.coinBtn:hover:before {
    opacity: 1;
}
.coinBtn:after {
    background: #111;
    border-radius: 10px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media(max-width: 1050px){
    .coin__section{
        width: 700px;
    }
    .fourthSection{
        align-items: end;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
    }
    .green, .red{
        margin-left: 0;
        padding: 0.3rem;
        text-align: center;
        width: 50px;
    }
    .fifthSection svg{
        width: 100px;
    }
}

@media (max-width: 850px) {
    .coin__section{
        width: 550px;
    }
    .coin{
        display: grid;
        grid-template-columns: 5% 50% 20% 25%;
        width: 100%;
    }
    .coinTitle{
        display: block;
    }
    .coinSymbol{
        font-size: 20px;
    }
    .coinTitle small{
        display: none;
    }
    .coinName{
        font-size: 14px;
    }
    .fifthSection{
        display: none;
    }
    .coinBtn{
        margin-left: 2rem;
        width: 80%;
    }
}

@media (max-width: 690px){
    .coin__section{
        width: 450px;
    }
}

@media (max-width: 580px){
    .coin__section{
        font-size: 12px;
        padding: 1rem;
    }
    .coin{
        display: grid;
        grid-template-columns: 7% 53% 20% 20%;
        width: 100%;
    }
    .sixthSection{
        display: flex;
        justify-content: right;
    }
    .coinBtn{
        font-size: 12px;
        margin-left: 0;
        padding: 0 0.5rem;
        width: 100%;
    }
}

@media (max-width: 520px){
    .coin__section{
        width: 350px;
    }
    .coin{
        display: grid;
        grid-template-columns: 5% 35% 40% 20%;
        width: 100%;
    }
    
    .twoSection{
        align-items:start;
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 100%;
    }
    .secondSection{
        align-items:start;
    }
    .coinImg__section{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .coinSymbol{
        display: none;
    }
    .coinName{
        color: var(--white);
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .coinPrice{
        color: gray;
        font-size: 14px;
        margin-left: 28px;
        margin-top: -20px;
        width: 100%;
    }
    .priceChange{
        margin-right: 10px;
    }
}

/*mobile*/
@media (max-width: 435px){
    .coin{
        display: grid;
        grid-template-columns: 10% 30% 40% 20%;
    }
    .coin__section{
        margin: 0 1rem 1rem;
    }
    .coinName__section{
        overflow: hidden;
    }
    .coinName{
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 85px;
    }
}

@media (max-width: 400px){
    .coin__section{
        width: 299px;
    }
    .coin{
        display: grid;
        grid-template-columns: 7% 30% 40% 23%;
        margin: 0 1rem;
    }
    .coinName{
        font-size: 15px;
    }
}

@media (max-width: 335px){
    .coin__section{
        padding: 0.5rem;
        width: 279px;
    }
    .coinName{
        width: 65px;
    }
}