@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background: radial-gradient(800px 200px at top center, hsl(299, 94%, 25%), hsl(281, 68%, 21%), black);  
  background-color: black;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
}


